/*variabila css*/

body{
    --culoare1: #97f0e6;
    --spatiere:100px;
    padding-left: var(--spatiere); /*padding - in toate directiile*/
    padding-right: var(--spatiere) ;
}

p{
    color:var(--culoare1);
}

h2{
    border:2px solid var(--culoare1);
}